<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>__LABEL__</string>

	<key>ProgramArguments</key>
	<array>
		<string>__PROGRAM__</string>
	</array>

	<key>WorkingDirectory</key>
	<string>__WORKING_DIR__</string>

	<key>StartInterval</key>
	<integer>__INTERVAL__</integer>

	<key>RunAtLoad</key>
	<true/>

	<key>StandardOutPath</key>
	<string>__STDOUT__</string>

	<key>StandardErrorPath</key>
	<string>__STDERR__</string>

	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>__HOME__</string>
		<key>PATH</key>
		<string>/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>

	<key>ProcessType</key>
	<string>Background</string>

	<key>LowPriorityIO</key>
	<true/>

	<key>Nice</key>
	<integer>10</integer>
</dict>
</plist>
